:root {
/* 
Color scheme definitions

http://build.fhir.org/ig/FHIR/ig-guidance/index.html

Usage:
   var(--publish-box-bg-color); 
   
   override only those that IHE needs to be different than the default
   
*/

  --ig-status-text-color: #1e0a37; /* 1. IG Title and status text color */
  --navbar-bg-color: #50398b; /* 2. Header container color */
  --footer-bg-color: #706e72; /* 3. Footer background color*/
  --footer-container-color: #50398b; /* 4. Footer container color */
  --stripe-bg-color: #50398b; /* 5. Header strip color */
  /* color from bar on www.ihe.net 50398b */

  --footer-nav-bg-color: #e7e6e7; /* 23. Footer navigation background color*/
  --footer-text-color: #777777; /* 24. Footer highlight font color */
  --footer-hyperlink-text-color: #81BEF7; /* 25. Footer hyperlinks font color */
  --footer-highlight-text-color: #81BEF7; /* 26. Footer highlight font color */
  /* note 81BEF7 is also fixed in the append footer */

  --breadcrumb-bg-color: #e7e6e7  ; /* 27. Breadcrumb background color */
  --breadcrumb-text-color: #777777; /* 28. Breadcrumb font color */

}

// this can be removed when base template is updated
/*
#segment-header {
    background-color: var(--ig-header-color);
}

#segment-header > .container {
    background-color: var(--ig-header-container-color);
}

#ig-status {
    margin-top: 21px;
}

#family-nav {
    margin-right: 3px;
}
*/